<header>
    <nav>
        <button id="buttonTerug"><img src= "./images/pijl.png" alt="Account"/></button>
        <button id="buttonHome"><img src= "./images/homeWit.png" alt="Home"/></button>
    </nav>
</header>