<header>
    <nav>
        <button id="ButtonTerug"><img src= "./images/pijl.png" alt="Account"/></button>
        <button id="ButtonHome"><img src= "images/homeWit.png" alt="Home"/></button>
    </nav>
</header>