<header>
    <nav>
        <button id="ButtonTerug"><img src= "./images/pijl.png" alt="Account"/></button>
        <a href="/favorites?geslacht=<%=geslacht%>&continenten=<%=continenten%>"><img src= "images/hartjeWit.png" alt="Favorieten"/></a>
    </nav>
</header>