<header>
    <nav>
        <button id="ButtonTerug"><img src= "images/pijl.png" alt="Account"/></button>
        <button id="ButtonNavUitloggen"><img src= "images/deur.png" alt="home"/></button>
    </nav>
</header>