<header>
    <nav>
        <button id="ButtonTerug"><img src= "./images/pijl.png" alt="Account"/></button>
        <button id="ButtonFavorieten"><img src= "images/hartjeWit.png" alt="Favorieten"/></button>
    </nav>
</header>