<header>
    <nav>
        <button id="ButtonHome"><img src= "images/homeWit.png" alt="Account"/></button>
        <button id="ButtonNavUitloggen"><img src= "images/deur.png" alt="home"/></button>
    </nav>
</header>