<section>
    <img href="" alt="">
    <p>Naam: <%=travelbuddies.naam%></p>
    <p>Geslacht: <%=travelbuddies.geslacht%> </p>
    <p>Continent: <%=travelbuddies.continent%> </p>
    <p>land:  <%=travelbuddies.land%> </p>
</section>