<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kies je continent</title>
    <link rel='stylesheet' href='css/styles2.css'/>
    <link rel="stylesheet" href="https://use.typekit.net/dew5tlo.css">
</head>
<body class="filterschermContinentenBody">

    <header>
        <nav>
            <button id="ButtonTerug"><img src= "images/pijl.png" alt="Account"/></button>
            <button id="ButtonNavUitloggen"><img src= "images/deur.png" alt="home"/></button>
        </nav>
    </header>

    <main>
        <h1><span>Vanessa</span>,</h1>
        <h2>naar welk continent wil je naartoe 
            reizen met je toekomstige <span>TravelBuddy</span>?</h2>

        <section>
            <a href="matchTravelBuddy.html">Afrika</a>
            <a href="keuzescherm.html">Antartica</a>
            <a href="keuzescherm.html">Azië</a>
            <a href="keuzescherm.html">Australië</a>
            <a href="keuzescherm.html">Europa</a>
            <a href="keuzescherm.html">Noord-Amerika</a>
            <a href="keuzescherm.html">Zuid-Amerika</a>
        </section>

        <script src="filterschermContinenten.js"></script>  
    </main>
</body>
</html>