<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maak hier je keuze</title>
    <link rel='stylesheet' href='css/styles2.css'/>
    <link rel="stylesheet" href="https://use.typekit.net/dew5tlo.css">
</head>
<body class="keuzeschermBody">

    <main>
        <h1>Hoi,<span> Vanessa</span> !</h1>
        <h2>Welkom Bij TravelBuddy!</h2>
        <h3>Maak hieronder je keuze om verder te gaan.</h3>

        <section>
            <a href="filterschermGeslacht.html">Nieuwe TravelBuddy</a>
            <a href="mijnTravelBuddiesMatches.html">Mijn TravelBuddies</a>
        </section>

        <script src="keuzescherm.js"></script>  

    </main>
</body>
</html>