<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mijn TravelBuddies</title>
    <link rel='stylesheet' href='css/styles2.css'/>
    <link rel="stylesheet" href="https://use.typekit.net/dew5tlo.css">
</head>
<body class="mijnTravelBuddiesMatchesBody">

    <header>
        <nav>
            <button id="ButtonTerug"><img src= "images/pijl.png" alt="Account"/></button>
            <button id="ButtonNavUitloggen"><img src= "images/deur.png" alt="home"/></button>
        </nav>
    </header>

    <main>
        <h1>Mijn TravelBuddies</h1>
        <h2>Bekijk hieronder jouw Travelbuddies matches!</h2>

        <section>
            <img src="images/eline.jpg" alt="TravelBuddy Match Eline">

            <div>
                <p>Eline - Afrika, Marokko</p>
            </div>
        </section>

        <script src="mijnTravelBuddies.js"></script>  
    </main>
</body>
</html>
