<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>
    
<body class="filterschermContinentenBody">

    <%- include('partials/headerTerug') %> 

    <main>
        <h1><span>Vanessa</span>,</h1>
        <h2>naar welk continent wil je naartoe 
            reizen met je toekomstige <span>TravelBuddy</span>?</h2>

        <section>
            <a href="/matchTravelBuddy">Afrika</a>
            <a href="/keuzescherm">Antartica</a>
            <a href="/keuzescherm">Azië</a>
            <a href="/keuzescherm">Australië</a>
            <a href="/keuzescherm">Europa</a>
            <a href="/keuzescherm">Noord-Amerika</a>
            <a href="/keuzescherm">Zuid-Amerika</a>
        </section>

        <script src="filterschermContinenten.js"></script>  
    </main>
</body>
</html>