<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>
    
<body class="filterschermGeslachtBody">

    <%- include('partials/headerTerug') %> 

    <main>
        <h1>Hoi,<span> Vanessa</span> !</h1>
        <h2>Kies het geslacht van je toekomstige TravelBuddy.</h2>

        <section>
            <a href="/filterschermContinenten">Man</a>
            <a href="">Vrouw</a>
        </section>

        <script src="filterschermGeslacht.js"></script>  
    </main>
</body>
</html>