<!DOCTYPE html>
<html lang="en">
    
 <%- include('partials/head') %>

<body class="homepageBody">

    <main>
        
        <section class="keuzeSection" id="keuzeSection">
            <h1>TravelBuddy</h1>
            <h2>Maak hieronder je keuze.</h2>
        
                    <div>
                        <a href="#geslachtSection">Nieuwe TravelBuddy</a>
                        <a href="mijnTravelBuddiesMatches">Mijn TravelBuddy matches</a>
                    </div>
        </section>


        <section class="geslachtSection" id="geslachtSection">
            <h1>TravelBuddy</h1>
            <h2>Kies het geslacht van je toekomstige TravelBuddy</h2>

            <div class="containerGeslacht">
                <form action="/" method="POST">
                    <div class="radioButtonsGeslachtSection" >
                        <input type="radio" name="Geslacht" id="vrouw" value="vrouw">    
                        <label id="labelVrouw" for="vrouw">Vrouw</label>
            
                        <input type="radio" name="Geslacht" id="man" value="man">    
                        <label id="labelMan" for="man">Man</label>
                    </div>
                <!-- </form> -->
            </div>
        </section>

        <section class="continentenSection" id="continentenSection">
            <h1>TravelBuddy</h1>
            <h2>Naar welk continent wil je op reis gaan?</h2>

            <div class="containerContinenten">
                <!-- <form action="/continenten" method="POST"> -->

                    <div class="radioButtonsContinentenSection">
                        <input type="radio" name="continenten" id="Afrika" value="Afrika">    
                        <label id="labelAfrika" for="Afrika">Afrika</label>
        
                        <input type="radio" name="continenten" id="Amerika" value="Amerika">
                        <label id="labelAmerika" for="Amerika">Amerika</label>
                
                        <input type="radio" name="continenten" id="Azië" value="Azië">    
                        <label id="labelAzië" for="Azië">Azië</label>
                    </div>
                
                    <div class="radioButtons2ContinentenSection">
                        <input type="radio" name="continenten" id="Europa" value="Europa">
                        <label id="labelEuropa" for="Europa">Europa</label>

                        <input type="radio" name="continenten" id="Antartica" value="Antartica">
                        <label id="labelAntartica" for="Antartica">Antartica</label>

                        <input type="radio" name="continenten" id="Noord-Amerika" value="Noord-Amerika">
                        <label id="labelNoord-Amerika" for="Noord-Amerika">Noord-Amerika</label>
                    </div>

                    <div>
                        <input type="radio" name="continenten" id="Zuid-Amerika" value="Zuid-Amerika">
                        <label id="labelZuid-Amerika" for="Zuid-Amerika">Zuid-Amerika</label>
                    </div>
                    
                    <button class="trigger">Match</button>
                </form>

            </div>
        </section>

        <!-- https://sabe.io/tutorials/how-to-create-modal-popup-box -->
        <div class="modal">
            <div class="modal-content">
                <h1>Match gemaakt!</h1>
                <%- include('partials/profile'); %>
                <button id="close-button" class="close-button">Terug</button>
            </div>
        </div>
        
    </main>

    <script src="/index.js"></script>

</body>
</html>