<!DOCTYPE html>
<html lang="en">

    <%- include('../views/partials/head') %>
    
<body class="keuzeschermBody">

    <main>
        <h1>Hoi,<span> Vanessa</span> !</h1>
        <h2>Welkom Bij TravelBuddy!</h2>
        <h3>Maak hieronder je keuze om verder te gaan.</h3>

        <section>
            <a href="/filterschermGeslacht">Nieuwe TravelBuddy</a>
            <a href="/mijnTravelBuddiesMatches">Mijn TravelBuddies</a>
        </section>

        <script src="keuzescherm.js"></script>  

    </main>
</body>
</html>