<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>
    
<body class="matchTravelBuddyBody">

    <header>

        <%- include('partials/headerHome') %>

    </header>

    <main>
        <h1>TravelBuddy<span> Eline</span> gematcht!</h1>
        <h2>Chat snel met je nieuwe Travelbuddy en leer elkaar kennen!</h2>
        <h3>Bestemming: Afrika, Marokko</h3>

        <section>
            <img src="images/eline.jpg" alt="TravelBuddy Match Eline">
            <a href="keuzescherm.html">Chat</a>
        </section>
 
        <script src="matchTravelBuddy.js"></script>  
    </main>
</body>
</html>