<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>
    
<body class="mijnTravelBuddiesMatchesBody">

    <%- include('partials/headerTerug') %> 

    <main>
    
        <!-- <a href="https://www.flaticon.com/free-icons/heart" title="heart icons">Heart icons created by Pixel perfect - Flaticon</a> -->
        <!-- <a href="https://www.flaticon.com/free-icons/heart" title="heart icons">Heart icons created by Pixel perfect - Flaticon</a> -->
    <section>
        <h1>Mijn TravelBuddies</h1>
        <h2>Bekijk hieronder jouw Travelbuddies matches!</h2> 
        <div class="match"></div>
        <div id="map"></div>
    </section>

    <section>
        <% travelbuddies.forEach(function(travelbuddy){ %>
            <%- include('partials/profile', {travelbuddy: travelbuddy}); %>
          <% }); %>
    </section>
    
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAththjafmqpXeRzHrX6M_naaQVtXLuR20&callback=initMap">
    </script>

    </main>

    <script src="mijnTravelBuddiesMatches.js"></script>  
</body>
</html>
