<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>
    
<body class="mijnTravelBuddiesMatchesBody">

    <%- include('partials/headerTerug') %> 

    <main>
        <h1>Mijn TravelBuddies</h1>
        <h2>Bekijk hieronder jouw Travelbuddies matches!</h2>

        <%- include('partials/matchEline') %> 

        <script src="mijnTravelBuddiesMatches.js"></script>  
    </main>
</body>
</html>
