<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TravelBuddy</title>
        <link rel='stylesheet' href='css/styles.css'/>
        <link rel="stylesheet" href="https://use.typekit.net/dew5tlo.css">
    </head>

<body>
    <main>
        <h1>Welkom bij</h1>
        <h2>TravelBuddy</h2>

        <section id="keuzeSection">
            <h3>Kies uit de volgende opties:</h3>

            <form>

                <div>
                    <input type="radio" name="continent" id="NieuweMatch" value="NieuweMatch">    
                    <label for="NieuweMatch">Nieuwe match</label>
                </div>
                <div>
                    <input type="radio" name="continent" id="MijnTravelBuddies" value="MijnTravelBuddies">
                    <label for="MijnTravelBuddies">Mijn TravelBuddies</label>
                </div>

                <button id="GaVerderButtonKeuze">Ga verder</button>
            </form>
        </section>

       
        <section id="geslachtSection">
            <h3>Kies het geslacht van je toekomstige TravelBuddy.</h3>

            <form action="/country" method="POST">

                <div>
                    <input type="radio" name="geslacht" id="Man" value="Man">    
                    <label for="Man">Man</label>
                </div>
                <div>
                    <input type="radio" name="geslacht" id="Vrouw" value="Vrouw">
                    <label for="Vrouw">Vrouw</label>
                </div>

                <button id="GaVerderButtonGeslacht">Ga verder</button>
            </form>
        </section>


        <section>
            <h3>Naar welk continent wil je naartoe reizen met je toekomiste TravelBuddy?</h3>

            <form action="/continenten" method="POST">

                <div>
                    <input type="radio" name="continent" id="Afrika" value="Afrika">    
                    <label for="Afrika">Afrika</label>
                </div>
                <div>
                    <input type="radio" name="continent" id="Antartica" value="Antartica">
                    <label for="Antartica">Antartica</label>
                </div>
                <div>
                    <input type="radio" name="continent" id="Azië" value="Azië">    
                    <label for="Azië">Azië</label>
                </div>
                <div>
                    <input type="radio" name="continent" id="Australië" value="Australië">
                    <label for="Australië">Australië</label>
                </div>
                <div>
                    <input type="radio" name="continent" id="Europa" value="Europa">    
                    <label for="Europa">Europa</label>
                </div>
                <div>
                    <input type="radio" name="continent" id="Noord-Amerika" value="Noord-Amerika">    
                    <label for="Noord-Amerika">Noord-Amerika</label>
                </div>
                <div>
                    <input type="radio" name="continent" id="Zuid-Amerika" value="Zuid-Amerika">    
                    <label for="Zuid-Amerika">Zuid-Amerika</label>
                </div>

                <button id="GaVerderButtonContinenten">Maak TravelBuddy match!</button>
            </form>
        </section>

    </main>

    <script src="index.js"></script>
</body>
</html>