@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

/* https://www.youtube.com/watch?v=LY1jeQGUiAI */
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body{
    background-color: #E8E8E8;
}

form section:first-of-type{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
form section:first-of-type h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 3em; 
    color: #3481F3;
}
form section:first-of-type h2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: black;
    justify-content: center;
    text-align: center;
} 



.geslacht{
    display:flex;
    justify-content: center;
    text-align: center;
    flex-wrap: row;
    margin-bottom: 1em;
    margin-top: -3em;
}
.geslacht h1{
    display: flex;
    position: absolute;
    margin-top: 10em;
    margin-bottom: 15em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: black;
    justify-content: center;
    text-align: center;
}
.geslacht div{
    margin-top: 20em;
    display: grid;
    list-style: none;
}
.geslacht div label{
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;   
    border: 0.1em solid white;
    padding: 1.5em 1.25em;
    margin: 0;
    border-radius: 0.4em;
    cursor: pointer;
    width: 15em;
    text-align: center;
    font-size: 0.9em; 
    background-color: white;   
}
.geslacht div label:hover{
    transform: scale(1.06);
    color: white;
    background-color:  #3481F3;
    border: 0.1em solid #3481F3;
}
.geslacht div label a{
    color: black;
    text-decoration: none;
}
.geslacht div label a:hover{
    color: white;
    text-decoration: none;
}

.geslacht div input[type="radio"] {
    display: flex;
    visibility: hidden;
    opacity: 0;
    margin-left: -1.3em;
}
.geslacht div input[type="radio"]+label:active {
    color: #3481F3;
    background-color: white;
    border: none;
}
.geslacht div input[type="radio"]:checked+label {
    background-color: #3481F3;
    color: white;
}




.continenten{
    display:flex;
    justify-content: center;
    text-align: center;
    flex-wrap: row;
}
.continenten h1{
    display: flex;
    position: absolute;
    margin-top: 10em;
    margin-bottom: 15em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: white;
    justify-content: center;
    text-align: center;
}
.continenten h1{
    color: black;
}
.continenten div{
    margin-top: 20em;
    display: grid;
    list-style: none;
}
.continenten div label{
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;   
    border: 0.1em solid white;
    padding: 1.5em 1.25em;
    margin: 0;
    border-radius: 0.4em;
    cursor: pointer;
    width: 15em;
    text-align: center;
    font-size: 0.9em; 
    background-color: white;    
}
.continenten div label:hover{
    transform: scale(1.06);
    color: white;
    background-color:  #3481F3;
    border: 0.1em solid #3481F3;
}

.continenten div input[type="radio"] {
    display: flex;
    visibility: hidden;
    opacity: 0;
    margin-left: -1.3em;
}
.continenten div input[type="radio"]+label:active {
    color: #3481F3;
    background-color: white;
    border: none;
    border: 0.1em solid #3481F3;
}
.continenten div input[type="radio"]:checked+label {
    background-color: #3481F3;
    color: white;
}

.trigger{
    color: white;
    background-color: #3481F3;
    font-family: 'Lato', sans-serif;
    font-weight: 400;   
    border: 0.1em solid #3481F3;
    padding: 1.5em 1.25em;
    margin: 0;
    border-radius: 0.4em;
    cursor: pointer;
    width: 15em;
    text-align: center;
    font-size: 0.9em; 
    margin-top: 3em;
}
.continenten button:hover{
    transform: scale(1.06);
}




.mijnTravelBuddiesMatchesBody header{
    display: flex;
    justify-content: center;
    position: relative;
}
.mijnTravelBuddiesMatchesBody header nav {
    position: absolute;
    margin-top: 1.5em;
}
.mijnTravelBuddiesMatchesBody header nav button{
    background-color: #3481F3;
    border-radius: 50%;
    border: solid #3481F3;
    width: 4.5em;
}
.mijnTravelBuddiesMatchesBody header nav button:first-of-type{
    height: 4.5em;
    margin-right: 63em;
}
.mijnTravelBuddiesMatchesBody header nav button:nth-child(2){
    height: 4.5em;
    margin-top: -0.5em;
}
#ButtonTerug img{
    width: 2.25em;
}
#ButtonFavorieten img{
    width: 2.25em;
    justify-content: center;
    margin-top: 0.55em;
}

.mijnTravelBuddiesMatchesBody section:first-of-type{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.mijnTravelBuddiesMatchesBody section:first-of-type h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 3em; 
    color: #3481F3;
}
.mijnTravelBuddiesMatchesBody section:first-of-type h2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: black;
    justify-content: center;
    text-align: center;
}

.mijnTravelBuddiesMatchesBody div{
    display: grid;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    margin-top: 3em;
}
.mijnTravelBuddiesMatchesBody div button{
    color: white;
    background-color: #3481F3;
    width: 9rem;
    height: 2rem;
    border-radius: 0.4em;
    border: #3481F3;
    margin-top: -4.7em;
    margin-left: 11em;
}
.mijnTravelBuddiesMatchesBody div section{
    background-color: white;
    border-radius: 0.6em;
    margin: 1em;
    height: 12rem;
    width: 20rem;
}
.mijnTravelBuddiesMatchesBody div section p{
    margin-left: 5.3em;
}

.verstop {
    display: none;
}