@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

/* https://www.youtube.com/watch?v=LY1jeQGUiAI */
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body{
    background-color: #E8E8E8;
}

form section:first-of-type{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 4em;
}
form section:first-of-type h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 3em; 
    color: #3481F3;
}
form section:first-of-type h2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: black;
    justify-content: center;
    text-align: center;
} 


/* ///////////////////////////////////////////////// */
.geslacht{
    display:flex;
    justify-content: center;
    text-align: center;
    flex-wrap: row;
    margin-bottom: 1em;
    margin-top: -3em;
}
.geslacht h1{
    display: flex;
    position: absolute;
    margin-top: 10em;
    margin-bottom: 15em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: black;
    justify-content: center;
    text-align: center;
}
.geslacht div{
    margin-top: 20em;
    display: grid;
    list-style: none;
}
.geslacht div label{
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;   
    border: 0.1em solid white;
    padding: 1.5em 1.25em;
    margin: 0;
    border-radius: 0.4em;
    cursor: pointer;
    width: 15em;
    text-align: center;
    font-size: 0.9em; 
    background-color: white;   
}
.geslacht div label:hover{
    transform: scale(1.06);
    color: #3481F3;
    background-color:  white;
    border: 0.2em solid #3481F3;
}
.geslacht div label a{
    color: black;
    text-decoration: none;
}
.geslacht div label a:hover{
    color: white;
    text-decoration: none;
}

.geslacht div input[type="radio"] {
    display: flex;
    visibility: hidden;
    opacity: 0;
    margin-left: -1.3em;
}
.geslacht div input[type="radio"]+label:active {
    color: #3481F3;
    background-color: white;
    border: none;
}
.geslacht div input[type="radio"]:checked+label {
    background-color: #3481F3;
    color: white;
}



.continenten{
    display:flex;
    justify-content: center;
    text-align: center;
    flex-wrap: row;
    margin-top: -3em;
}
.continenten h1{
    display: flex;
    position: absolute;
    margin-top: 10em;
    margin-bottom: 15em;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: white;
    justify-content: center;
    text-align: center;
}
.continenten h1{
    color: black;
}
.continenten div{
    margin-top: 20em;
    display: grid;
    list-style: none;
}
.continenten div label{
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;   
    border: 0.1em solid white;
    padding: 1.5em 1.25em;
    margin: 0;
    border-radius: 0.4em;
    cursor: pointer;
    width: 15em;
    text-align: center;
    font-size: 0.9em; 
    background-color: white;    
}
.continenten div label:hover{
    transform: scale(1.06);
    color: #3481F3;
    background-color:  white;
    border: 0.2em solid #3481F3;
}

.continenten div input[type="radio"] {
    display: flex;
    visibility: hidden;
    opacity: 0; 
    margin-left: -1.3em;
}
.continenten div input[type="radio"]+label:active {
    color: #3481F3;
    background-color: white;
    border: none;
    border: 0.1em solid #3481F3;
}
.continenten div input[type="radio"]:checked+label {
    background-color: #3481F3;
    color: white;
}

.trigger{
    color: white;
    background-color: #3481F3;
    font-family: 'Lato', sans-serif;
    font-weight: 400;   
    border: 0.1em solid #3481F3;
    padding: 1.5em 1.25em;
    margin: 0;
    border-radius: 0.4em;
    cursor: pointer;
    width: 15em;
    text-align: center;
    font-size: 0.9em; 
    margin-top: 3em;
}
.continenten button:hover{
    transform: scale(1.06);
}

/* ///////////////////////////////////////////////// */
.matches header{
    display: flex;
    justify-content: center;
    /* position: relative; */
}
.matches header nav button{
    background-color: #3481F3;
    border-radius: 50%;
    border: solid #3481F3;
    width: 4.5em;
}
.matches header nav button:first-of-type{
    height: 4.5em;
    margin-right: 63em;
}
.matches header nav button:nth-child(2){
    height: 4.5em;
    margin-top: -0.5em;
}
#ButtonTerug img{
    width: 2.25em;
}
#ButtonFavorieten img{
    width: 2.25em;
    justify-content: center;
    margin-top: 0.55em;
}

#matchButtonSection{
    margin-bottom: 12em;
    justify-content: center;
    text-align: center;
}

.matches main section:first-of-type h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 3em; 
    color: #3481F3;
}
.matches main section:first-of-type h2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: black;
    justify-content: center;
    text-align: center;
}

.matches main div:first-of-type{
    display: grid;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 3em;
}
.matches main div button{
    color: white;
    background-color: #3481F3;
    width: 9rem;
    height: 2rem;
    border-radius: 0.4em;
    border: #3481F3;
    margin-top: -5.7em;
    margin-left: 12.6em;
}
.matches main div section{
    background-color: white;
    border-radius: 0.6em;
    margin: 1em;
    height: 12rem;
    width: 20rem;
}
.matches main div section img:first-of-type{
    margin-left: 1.5em;
} 
.matches main div section img{
    width: 7em;
    position: absolute;
    margin-left: 1.5em;
    margin-top: 2.5em;
}
.matches main div section form{
    margin-left: 16em;
}
.matches main div section form button{
    margin-left: -5.5em;
    color: transparent;
    background-color: transparent;
}
.matches main div section form button img{
    width: 2.3em;
    height: 2.3em;
    margin-top: 0.25em;
}

.matches main div section form:nth-of-type(2){
    margin-left: 16em;
}
.matches main div section form:nth-of-type(2) button{
    margin-left: -5.5em;
    color: transparent;
    background-color: transparent;
}
.matches main div section form:nth-of-type(2) button img{
    width: 2.3em;
    height: 2.3em;
    margin-top: 0.25em;
}

.matches main div section ul{
    margin-top: 0.5em;
}
.matches main div section ul li{
    margin-left: 10.6em;
    list-style: none;
}

/* added classes with css and JavaScript */
/*/// section form index.ejs*/
.verstop {
    display: none;
}

/* favorietenTravelBuddyMatchesBody //////////////////////////////////////////////////////////////////*/

.favorieten{
    background-color: #3481F3;
}

.favorieten header{
    display: flex;
    justify-content: center;
    /* position: relative; */
}
.favorieten header nav button{
    background-color: #3481F3;
    border-radius: 50%;
    border: solid #3481F3;
    width: 4.5em;
}
.favorieten header nav button:first-of-type{
    height: 4.5em;
    margin-right: 63em;
}
.favorieten header nav button:nth-child(2){
    height: 4.5em;
    margin-top: -0.5em;
}
#ButtonTerug img{
    width: 2.25em;
}
#ButtonHome img{
    width: 2.25em;
    justify-content: center;
    margin-top: 0.55em;
}

.favorieten main section:first-of-type h1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 3em; 
    color: white;
}
.favorieten main section:first-of-type h2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: black;
    justify-content: center;
    text-align: center;
}

.favorieten main div{
    display: grid;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 3em;
}
.favorieten main div button{
    color: white;
    background-color: #3481F3;
    width: 9rem;
    height: 2rem;
    border-radius: 0.4em;
    border: #3481F3;
    margin-top: -5.7em;
    margin-left: 12.6em;
}
.favorieten main div section{
    background-color: white;
    border-radius: 0.6em;
    margin: 1em;
    height: 12rem;
    width: 20rem;
}
.favorieten main div section img:first-of-type{
    margin-left: 1.5em;
} 
.favorieten main div section img{
    width: 7em;
    position: absolute;
    margin-left: 1.5em;
    margin-top: 2.5em;
}
.favorieten main div section form{
    margin-left: 16em;
}
.favorieten main div section form button{
    margin-left: -5.5em;
    color: transparent;
    background-color: transparent;
}
.favorieten main div section form button img{
    width: 2.3em;
    height: 2.3em;
    margin-top: 0.25em;
}
.favorieten main div section ul{
    margin-top: 0.5em;
}
.favorieten main div section ul li{
    margin-left: 10.6em;
    list-style: none;
}