<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head') %>

<body class="homepageBody">

    <main>

    <form action="/travelbuddies" name="matchesFormulier"method="POST">

        <section>
            <h1>TravelBuddy</h1>
            <h2>Welkom bij TravelBuddy!</h2>   
        </section>
        

        <section class="geslacht">

            <h1>Kies het geslacht van je toekomstige TravelBuddy!</h1>

            <div>
                
                <input type="radio" name="geslacht" id="vrouw" value="Vrouw">    
                <label id="labelVrouw" for="vrouw">Vrouw</label>

                <input type="radio" name="geslacht" id="man" value="Man">    
                <label id="labelMan" for="man">Man</label>
                
            </div>

        </section>


        <section id="continenten" class="continenten">

            <h1 id="continentenH1">Kies een continent.</h1>

            <div>

                <input type="radio" name="continenten" id="Afrika" value="Afrika">
                <label id="labelAfrika" for="Afrika">Afrika</label>

                <input type="radio" name="continenten" id="Zuid-Amerika" value="Zuid-Amerika">
                <label id="labelZuid-Amerika" for="Zuid-Amerika">Zuid-Amerika</label>
        
                <input type="radio" name="continenten" id="Azië" value="Azië">    
                <label id="labelAzië" for="Azië">Azië</label>

                <input type="radio" name="continenten" id="Europa" value="Europa">
                <label id="labelEuropa" for="Europa">Europa</label>

                <input type="radio" name="continenten" id="Antartica" value="Antartica">
                <label id="labelAntartica" for="Antartica">Antartica</label>

                <input type="radio" name="continenten" id="Noord-Amerika" value="Noord-Amerika">
                <label id="labelNoord-Amerika" for="Noord-Amerika">Noord-Amerika</label>  
                
                <input type="radio" name="continenten" id="Oceanie" value="Oceanie">
                <label id="labelNoord-Oceanie" for="Oceanie">Oceanië</label>    
                
            </div>

        </section> 

        <section id="matchButtonSection">
            <button class="matchButton" >Match</button>
        </section>

    </form> 

    <script src="javascript/index.js"></script>

</body>
</html>
